<div class="container-fluid bg-dark vh-100 d-flex flex-column align-items-center justify-content-center pb-5">
    <div class="w-100 pb-4">
        <div class="col-12">
            <h1 class="text-light text-center">
                Login
            </h1>
        </div>
    </div>
    <div class="row col col-md-6 mx-auto">
        <div class="input-group align-items-center">
            <input type="password" class="form-control text-center" placeholder="Type in password and press enter"
                [(ngModel)]="password" (keydown.enter)="checkPassword()">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-danger fs-6 pt-2" *ngIf="showPasswordErrorMsg">
            Invalid password, please try again
        </div>
        <div class="col-12 text-success fs-6 pt-2" *ngIf="showPasswordOkMsg">
            Welcome!
        </div>
    </div>
</div>