<!-- Modal -->
<div class="modal fade" [id]="modalId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container-fluid" *ngIf="item">
                <div class="row pb-2">
                    <img class="img-fluid" [src]="getHighResImgUrl(item.media.m)">
                </div>
                <div class="row text-center pb-2">
                    <div class="col-12 fw-bold">
                        {{item.title}}
                    </div>
                    <div class="col-12 fs-6 fw-light">
                        Taken {{item.date_taken | date: 'short' }} | Published {{item.published | date: 'short' }}
                    </div>
                    <div class="col-12 fw-light pb-3">
                        Author: <a [href]="getAuthProfileUrl(item.author_id)">{{getAuthorName(item.author)}}</a>
                        (<a target="_blank" [href]="item.link">View on Flickr <i
                                class="bi bi-box-arrow-up-right"></i></a>)
                    </div>
                    <p class="col">
                        Tags: <ng-container *ngFor="let tag of splitTags(item.tags); last as isLast">
                            <a [routerLink]="['/results', tag]" data-bs-dismiss="modal">{{tag}}</a>{{!isLast ? ', ' : ''}}
                        </ng-container>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>